<<<<<<< HEAD

<header>TopPage</header>
<h1>練習問題</h1>

=======
>>>>>>> parent of 1eaa183... Revert "revert練習"
=======
>>>>>>> parent of 1eaa183... Revert "revert練習"
<button>
　<%= link_to 'button', '#' %>　
</button>
